<html>

<head>
    <style>
        @media (prefers-color-scheme: dark) {
            body {
                color: white;
            }
            a {
                color: skyblue;
            }
        }
        .container {
            font-family: sans-serif;
            max-width: 800px;
            margin: 0 auto;
        }
        .intro {
            text-align: left;
        }
        .licenses-list {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        .license-used-by {
            margin-top: -10px;
        }
        .license-text {
            font-family: monospace;
            white-space: pre-wrap;
        }
    </style>
</head>

<body>
    <main class="container">
        <div class="intro">
            <h2>Continuous Looper</h2>
            <p>
                <strong>Continuous Looper</strong> is an open-source project. You can find its source-code and more
                information on <a href="https://github.com/yamadapc/augmented-audio/">github.com/yamadapc/augmented-audio</a>.
                <br />
                This product source is published under the AGPL license. Its audio engine component is published under
                a more permissive license.
            </p>

            <h2>Engine Third Party Licenses</h2>
            <p>This page lists the licenses of the projects used in <strong>Continuous Looper</strong>.</p>
            <p>Libraries listed here are used in the open-source audio engine.</p>
        </div>

        <h2>Overview of licenses</h2>
        <ul class="licenses-overview">
            {{#each overview}}
            <li><a href="#{{id}}">{{name}}</a> ({{count}})</li>
            {{/each}}
        </ul>

        <h2>All license text</h2>
        <ul class="licenses-list">
            {{#each licenses}}
            <li class="license">
                <h3 id="{{id}}">{{name}}</h3>
                <h4>Used by:</h4>
                <ul class="license-used-by">
                    {{#each used_by}}
                    <li><a href="{{#if crate.repository}} {{crate.repository}} {{else}} https://crates.io/crates/{{crate.name}} {{/if}}">{{crate.name}} {{crate.version}}</a></li>
                    {{/each}}
                </ul>
                <pre class="license-text">{{text}}</pre>
            </li>
            {{/each}}
        </ul>
    </main>
</body>

</html>
